/*
 * If you find the styles broken, you may navigate to
 * chrome://browser/content/browser.xhtml and locate the issue.
 */

/* Hide horizontal tabbar */
#main-window #TabsToolbar {
    visibility: collapse;
}

/* Preserve space for the collapsed sidebar */
#appcontent, /* Older Firefox */
#tabbrowser-tabbox /* Newer Firefox */
{
    margin-left: 32px !important;
}

/* Enable absolute position for the sidebar */
#browser {
    position: relative;
}

/* Collapse in default state and add transition */
#sidebar-box {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 32px !important;
    max-width: 32px !important;
    transition: all 0.3s ease;
    border-right: 1px solid #0c0c0d;
    z-index: 2;
}

/* Expand to 260px on hover, floating over the web page */
/* TODO: It does not work when dragging tabs around */
#sidebar-box:hover, #sidebar-box #sidebar {
    min-width: 260px !important;
    max-width: 260px !important;
    z-index: 3;
}

/* Don't display the sidebar splitter */
#sidebar-box + #sidebar-splitter {
    display: none !important;
}

/* Slight padding to not show text when collapsed */
#sidebar-box #sidebar-header #sidebar-switcher-target #sidebar-icon {
    margin-right: 2px;
}

/*
  You are recommended to tweak the settings of Tree Style Tabs as well.
  Recommended settings:

- Put the side bar on the left side,
- Set "Style of contents..." to "Left side" (and remember to use middle click to close tabs)
- Set "Double-click on a tab" to "Close tab"
  - With sidebar collapsed to icons, you will need to
    (1) hover to expand the sidebar,
    (2) find the "X" button,
    (3) move your cursor over "X" carefully so that the sidebar doesn't collapse again.
    So personally I would much prefer double clicking.
- User Style Sheet: ./tree-style-tabs_collapsed.css
  - This style sheet mainly makes the icons more compact by removing left margins.
*/
