keybinds {
    locked {
        bind "Alt \\" { SwitchToMode "Normal"; }
    }
    shared_except "locked" {
        bind "Alt \\" { SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

on_force_close "detach"
simplified_ui true
pane_frames true
default_layout "compact"
default_mode "locked"
mouse_mode false
